* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'muli';
	box-sizing: border-box;
}

.nav {
	display: block;
	padding: 20px 0;
	background-color: turquoise;
}

.nav__container {
	width: 70%;
	margin: 0 auto;
	padding-left: 40px;
	color: #f4f4f4;
	text-align: left;
}

.nav__container h1 {
	color: #f4f4f4;
	padding-left: 25px;
}

h1 {
	margin: 0;
	margin-top: 10px;
	padding: 0 10px;
	font-family: 'muli';
	color: #777;
	text-transform: uppercase;
	font-size: 24px;
}

h2 {
	font-family: 'muli';
	font-size: 20px;
	font-weight: 700;
	padding: 0 10px;
	margin: 0;
}

h3 {
	font-family: 'muli';
	font-size: 14px;
	font-weight: 500;
	padding: 20px 10px;
}

.text-center {
	text-align: center;
}

.container {
	width: 70%;
	margin: 0 auto;
	padding: 40px;
}

.showcase {
	width: 50vw;
	padding: 20px;
	border: 1px solid #f4f4f4;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(
			to bottom right,
			rgba(161, 255, 206, 1),
			rgba(250, 255, 209, 0.7)
		),
		url(img/sunny.jpeg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	color: #fff;
}

.item_collection {
	margin-bottom: 60px;
}

.dusk {
	background: linear-gradient(to right, #2c3e50, #fd746c);
}

.bright_vault {
	background: linear-gradient(to right, #00d2ff, #928dab);
}

.sweet_morning {
	background: linear-gradient(to right, #ff5f6d, #ffc371);
}

.decent {
	background: linear-gradient(to right, #4ca1af, #c4e0e5);
}

.inbox {
	background: linear-gradient(to right, #c2e59c, #64b3f4);
}

.earth {
	background: linear-gradient(to right, #00c9ff, #92fe9d);
}

.showcase__text {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px 0;
}

.showcase__text h1 {
	font-size: 28px;
}

.showcase__text h2 {
	padding: 10px 0;
	color: #777;
}

.btn-container {
	margin: 5px auto;
	display: block;
	text-align: center;
	margin-bottom: 50px;
}

.btn {
	font-size: 18px;
	font-family: 'muli';
	color: white;
	width: 230px;
	padding: 20px 0;
	border: none;
	border-radius: 3px;
	background-color: aquamarine;
	font-weight: 700;
	margin-right: 10px;
	transform: translateY(-1px);
	transition: all 0.2s ease-in-out;
}

.mb-1 {
	margin-bottom: 10px;
}

.mb-2 {
	margin-bottom: 20px;
}

.mb-3 {
	margin-bottom: 30px;
}

.mt-3 {
	margin-top: 30px !important;
}

.mt-5 {
	margin-top: 50px !important;
}

.btn a {
	color: #fff;
	text-decoration: none;
}

.btn--rounded {
	border-radius: 35px;
}

.green {
	background-color: #6fdba1;
}

.blue {
	background-color: #3ab2da;
}

.red {
	background-color: #f0112b;
}

.grey {
	background-color: #c3cbd2;
}

.yellow {
	background-color: #fcaf38;
}

.btn--small {
	padding: 8px 0;
	width: 130px;
	font-weight: 500;
	font-size: 14px;
	margin: 5px 5px;
}

.btn--medium {
	padding: 10px 0;
	width: 180px;
	font-weight: 500;
	font-size: 14px;
}

.btn--large {
	padding: 12px 0;
	width: 220px;
	font-weight: 500;
	font-size: 16px;
}

.error {
	display: block;
	padding: 20px;
	background-color: rgba(255, 0, 0, 0.473);
	border-radius: 3px;
	font-family: 'muli';
	color: white;
	font-weight: 500;
	margin: 20px auto;
	width: 90%;
}

.labelerror {
	color: #f0112b !important;
}

.inputerror {
	color: #f0112b !important;
	border-bottom: 2px solid #f0112b !important;
}

.btn:focus {
	outline: none;
	transform: translateY(1px);
	box-shadow: 1px 2px 5px -1px rgba(000, 000, 000, 0.2);
}

.btn:not(:focus) {
	transform: translateY(-1px);
	box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
}

.output,
.customer,
.customers,
.panel {
	position: relative;
	width: 90%;
	margin: 20px auto;
	border-radius: 3px;
	border: 1px solid #f4f4f4;
	background-color: #fff;
	padding: 20px;
	color: #777;
	font-family: 'muli';
	text-align: justify;
}

.panel-content {
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
}

.panel .content {
	flex: 0 0 1;
}

.composition {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.composition .avatar {
	flex: 0 0 1;
	border-radius: 3px;
	overflow: hidden;
	height: 250px;
	width: 250px;
}

.composition .avatar img {
	height: 100%;
	/* transform: translateX(-95px); */
	backface-visibility: hidden;
}

.composition .content {
	flex: 0 0 1;
	display: flex;
	flex-direction: column;
}

.output:hover,
.customer:hover,
.customers:hover {
	box-shadow: 1px 1px 3px -1px rgba(000, 000, 000, 0.2);
}

.form-group {
	margin: 0 auto;
	display: block;
	margin-bottom: 50px;
	position: relative;
}

.form-control {
	margin-top: 20px;
	display: block;
	padding: 14px 0;
	width: 100%;
	border: none;
	font-family: inherit;
	font-weight: 700;
	color: rgba(177, 176, 176, 1);
	border-bottom: 1px solid rgba(177, 176, 176, 0.8);
}

label {
	position: absolute;
	transform: translateY(-30px);
	color: rgba(177, 176, 176, 1);
	font-family: 'muli';
	font-weight: 500;
	font-size: 16px;
	transition: 0.2s ease-in-out;
}

input:focus,
.form-control:focus {
	outline: none;
	border-bottom: 2px solid rgba(111, 219, 161, 0.9);
}

.form-control:focus + label,
input:focus + label {
	transform: translateY(-60px);
	font-size: 12px;
	font-weight: 500;
	color: rgba(111, 219, 161, 0.9);
	transition: 0.2s ease-in-out;
}

.label-transform {
	transform: translateY(-60px);
	font-size: 12px;
	font-weight: 500;
	transition: 0.2s ease-in-out;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

ul:not(:first-child) {
	margin-top: 20px;
}

li {
	display: flex;
	padding: 20px;
	font-family: muli;
	color: #777;
	border: 1px solid #f4f4f4;
}

li .avatar {
	flex: 0 0 1;
	border-radius: 5px;
	overflow: hidden;
}

li .content {
	margin-left: 20px;
	flex: 0 0 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

li .content .content__heading {
	font-family: 'muli';
	margin-bottom: 5px;
	font-weight: 700;
	color: #777;
	font-size: 18px;
}

li .content .content__body {
	font-family: 'muli';
	font-weight: 500;
}

li .avatar img {
	height: 80px;
	transform: translateY(2px);
}

li:hover {
	background-color: #f4f4f4e0;
}

li:not(:first-child) {
	border-top: none;
}

.item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.item a {
	padding: 3px 10px;
	text-decoration: none;
	cursor: pointer;
	color: rgb(153, 150, 150);
	border-radius: 1px;
	transition: 0.2s ease-in-out;
}

.item a:hover,
.item a:focus {
	transform: scale(1.05);
	background-color: #eeecec;
}

.item .item-container {
	flex: 0 0 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* scrollbar */

body::-webkit-scrollbar {
	width: 10px;
	background-color: #f4f4f4;
}

body::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(64, 224, 208);
	outline: 1px solid rgb(64, 224, 208);
	border-radius: 1px;
}

@media only screen and (max-width: 1200px) {
	.btn {
		display: block;
		margin: 10px auto;
	}
	.item .item-container {
		flex-direction: column;
	}
	.panel-content {
		flex-direction: column;
	}
	.panel .content .btn-container .btn {
		display: block;
		width: 90%;
		padding: 10px 0;
		margin: 15px auto;
	}
}

@media only screen and (max-width: 600px) {
	.container {
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}
}
